@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-size: 10px;
  margin: 0;
}

#headtrackerMessageDiv{
  position: absolute;
  bottom: 0.5em;
  display: block;
  margin: 0 auto;
  width: 100%;
}

p#headtrackerMessage{
  font-size: 15px;
  font-family: 'Open Sans';
  color: white;
  font-weight: 200;
  text-align: center;
}

#inputVideo{
  display: none !important;
}

#intro-page{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  /*background: url("cross-01.png") space;*/
}

#intro-page::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("cross-01.png") space ;
  background-size: 20px;
}

#intro-text{
  width: 100%;
  background: none;
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  /*top: 10em;*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

#intro-text h3{
  font-size: 4rem;
  margin: 0;
}

#intro-text p{
  font-weight: 300;
  margin-bottom: 2em;
  font-size: 18px;
  font-family: 'Open Sans';
}

#intro-text .start-button{
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 3px solid white;
  width: 5em;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

#intro-text .social-buttons {
  margin-top: 20px;
}


#intro-text .social-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  /*background: url("social-icon-01.png") cover ;*/
  background: url("social-icon-01.png") no-repeat;
  background-size: contain;
}

#intro-text .social-button:first-of-type {
  background: url("social-icon-02.png") no-repeat;
  background-size: contain;
}
